@import "~bootstrap/scss/bootstrap";

body {
  background-color: blue;
}

#planet-container {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-flow: row wrap;
  display: grid;
  grid-template-rows: 385px 385px 385px;
  grid-template-columns: 385px 385px 385px;
}